.innertext{
    width: auto;
    color:white;
    align-self: center;
    text-align: center;
    /* padding-top: 1rem; */
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.text{
    text-transform: uppercase;
    font-size: 0.6rem;
    
}

span{
   
    font-size: 1.5rem;
}